<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Reviews</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<nav>
    <a href="/home">Home</a>
    <a href="/rooms">Rooms</a>
    <a href="/reservations">Reservations</a>
    <a href="/reviews">Reviews</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</nav>
<h1>Manage All Reservation Amenities</h1>
<div id="newRoomTypeFormContainer">
    <h2>Add New Reservation Amenity</h2>
    <form id="newRoomTypeForm">
        <label for="newRoomTypeName">Name:</label>
        <input type="text" id="newRoomTypeName" name="name" required>
        <button type="submit">Add Room Type</button>
    </form>
</div>
<div id="roomTypeList"></div>
<script type="module" src="../static/js/adminRoomType.js"></script>
</body>
</html>
