<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking</title>
    <base href="/">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<nav>
    <a href="/home">Home</a>
    <a href="/rooms">Rooms</a>
    <a href="/reservations">Reservations</a>
    <a href="/reviews">Reviews</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/admin" id="admin-panel-link" style="display: none;">Admin Panel</a>
</nav>

<a href="/admin/room-amenities"><strong>Room amenities</strong></a>
<a href="/admin/room-type"><strong>Room types</strong></a>
<a href="/admin/reservation-amenities"><strong>Reservation amenities</strong></a>
<a href="/admin/reviews"><strong>Reviews</strong></a>
</body>
</html>
