<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<nav>
    <a href="/home">Home</a>
    <a href="/rooms">Rooms</a>
    <a href="/reservations">Reservations</a>
    <a href="/reviews">Reviews</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/change-password">Change password</a>
    <a href="/admin" id="admin-panel-link" style="display: none;">Admin Panel</a>
</nav>
<form id="roomSearchForm">
    <div class="form-group">
        <label for="roomType">Room Type:</label>
        <select id="roomType" name="roomType">
            <option value="">Select Room Type</option>
        </select>
    </div>

    <div class="form-group">
        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity"  min="0" placeholder="Minimum Capacity">
    </div>

    <div class="form-group">
        <label for="maxPrice">Max Price:</label>
        <input type="number" id="maxPrice" name="maxPrice" step="0.01" min="0" placeholder="Max Price Per Night">
    </div>

    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">
    </div>

    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">
    </div>

    <button type="submit">Search</button>
</form>



<h1>Rooms</h1>
<div id="roomList"></div>
<script type="module" src="../static/js/room.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
<script type="module" src="../static/js/token.js"></script>
</body>
</html>